.remote
  = simple_form_for(@product, :html => one_submit_only, :remote => true) do |f|
    = link_to_close edit_product_path
    = f.error_messages :object_name => t('product')
    = render "products/form", :f => f, :edit => true

    .buttonbar
      = f.submit t(:update_product)
      #{t :or}
      = link_to_cancel edit_product_path
