- edit ||= false
.section
  .caption #{'Informacoes gerais'}
  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label.top.req #{t :code}:
        = f.text_field :code, :style => "width:110;"
        = spacer
      %td
        .label.top.req #{t :name}:
        = f.text_field :name, :style => "width:110;"
    %tr
      %td
        .label.top.req #{t :manufacturer}:
        = f.text_field :manufacturer, :style => "width:110;"
        = spacer
      %td
        .label.req.top #{t :status}:
        = f.select :stage, @stage, { :selected => @product.stage ? @product.stage.to_sym : nil }, { :style => "width:160px" }

  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label #{t :description}:
        = f.text_area :description, :style =>"width:500px;", :rows => 5

  .caption #{"Valores"}
  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label #{t :price} #{t :currency}:
        = f.text_field :price, :style => "width:110px; text-align:right;"
        = spacer
      %td
        .label #{t :price_3x} #{t :currency}:
        = f.text_field :price_3x, :style => "width:110px; text-align:right;"
        = spacer
      %td
        .label #{t :price_30_days} #{t :currency}:
        = f.text_field :price_30_days, :style => "width:130px; text-align:right;"
        = spacer
      %td
        .label #{t :price_cash} #{t :currency}:
        = f.text_field :price_cash, :style => "width:110px; text-align:right;"

  .caption #{'Imposto'}
  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label #{t :rev_icms18} #{t :currency}:
        = f.text_field :rev_icms18, :style => "width:110px; text-align:right;"
        = spacer
      %td
        .label #{t :rev_icms12} #{t :currency}:
        = f.text_field :rev_icms12, :style => "width:110px; text-align:right;"
        = spacer
  .caption #{'Estoque'}
  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label #{t :stock_in}:
        = f.text_field :stock_in, :style => "width:110px;"
        = spacer
      %td
        .label #{t :stock_out}:
        = f.text_field :stock_out, :style => "width:110px;"
  .caption #{'Upload de imagem'}
  %table{ :border => 0, :width=> 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td
        .label #{t :imagem}:
        = f.file_field :avatar, :style => "width:110;"
