= form_for(@product, remote: true, :html => { :multipart => true} ) do |f|
  = link_to_close new_product_path
  = f.error_messages :object_name => t('product')
  = render "products/form", :f => f
  //= render "fields/edit_custom_field_group", :f => f
  //= render "shared/add_comment",   :f => f
  //= render "fields/groups",        :f => f
  //= render "entities/permissions", :f => f, :entity => @product

  .buttonbar
    = f.submit t(:create_product), :onclick => "crm.create_product()"
    #{t :or}
    = link_to_cancel new_product_path
